@import "../styles.scss";

.wrapper {
  padding-top: map-get($app, header);
}

.content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{map-get($app, header)});
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}

.verticallyCentered {
  padding-top: 0;
  justify-content: center;
}

.horizontallyCentered {
  align-items: center;
}

@media screen and (min-width: 400px) {
  .content {
    width: 90%;
  }
}