// ===================
// COLORS
// ===================

$font-color: #212121;
$bg-color: #fff;
$light-color: #ddd;
$action-color: #fb0006;


// ===================
// TYPOGRAPHY
// ===================

$font-stack: 'Roboto', 'HelveticaNeue', 'Helvetica Neue', 'Helevtica', 'Lucida Grande', 'Trebuchet MS', sans-serif;


// ===================
// TRANSITIONS
// ===================

$scale: scale(1.02);
$fast-transition: all 150ms ease-in-out;
$medium-transition: all 250ms ease-in-out;

@keyframes enter-top {
  0% {
    transform: translateY(-5vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes enter-bottom {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


// ===================
// VARIABLES
// ===================

$app: (
  header: 40px
);

$z-index: (
  header: 3,
  project-image: 2,
  project-backdrop: 1,
  button-animation: -1
);


// ===================
// RESET
// ===================

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// ===================
// GLOBAL
// ===================

* {
  box-sizing: border-box;
}

html {
  font-size: 7.5px;
}

body {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  font-family: $font-stack;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 { font-size: 3.157em; }
h2 { font-size: 2.369em; }
h3 { font-size: 1.777em; }
h4 { font-size: 1.333em; }

li {
  list-style: none;
}

@media screen and (min-width: 350px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 10px;
  }
}